.container {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-left: 100px;
	color: #ffffff;
	font-size: 20px;
	width: 1720px;
}

.navContainer {
	display: flex;
	gap: 36px;
}

.navContainer > button {
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: #a6aab6;
	text-decoration: none;
	font-size: 32px;
	font-weight: 400;
}

.navContainer > button.active {
	color: #ffffff;
	text-decoration: none;
}

.panelsContainer {
	display: flex;
	flex-direction: column;
}
