.container {
    max-width: 1750px;
    margin: 0 auto;
	padding: 0 15px;
}

.header {
    padding: 8px 0;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 67px;
}

.title {
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.button {
    width: 147px;
    background: #1c3486;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    transition: .3s all;
    color: #fff;
    font-family: "TT Hoves", sans-serif;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
	background-color: #8897cc;
}

.buttonLong {
    width: 253px;
    background: #8897cc;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    transition: .3s all;
    color: #fff;
    font-family: "TT Hoves", sans-serif;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.buttonLong:hover {
	background-color: #0038FF;
}

.advantages {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.advantages .advantagesItem {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: "TT Hoves", sans-serif
}