.tableContainer {
	overflow-x: auto;
}
.tableTitle {
	font-weight: 700;
	font-size: 32px;
	padding-top: 55px;
}

.table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	font-size: 28px;
}

.tableHead {
	background-color: var(--light-button-color);
	font-size: 32px;
	font-weight: 400;
}

.table th,
.table td {
	padding: 12px;
	height: 132px;
	border-bottom: 15px solid var(--light-button-color);
}

.table th:first-child,
.table td:first-child {
	width: 336px;
	text-align: center;
}

.rowEven {
	background-color: var(--secondary-bg-color);
}

.rowOdd {
	background-color: var(--primary-button-color);
}
