.rulesContainer {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-bottom: 30px;
}

.contactLink {
	color: #ffffff;
}

.contactContainer {
	display: flex;
	align-items: center;
	gap: 5px;
}
