.conditions {
	background: var(--secondary-bg-color);
	padding: 0 15px;
	height: 90px;
	display: flex;
	align-items: center;
}

.conditionsWrapper {
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.leftGroup,
.centerGroup,
.rightGroup {
	display: flex;
	align-items: center;
}

.centerGroup {
	margin: 0 226px;
	gap: 145px;
}

.createTeam {
	background-color: var(--light-button-color);
	margin-right: 20px;
}

.createTeam:hover {
	background-color: var(--light-button-hover-color);
}

.mainButton {
	background-color: var(--dark-button-color);
}

.mainButton:hover {
	background-color: var(--dark-button-hover-color);
}
